.AirbnbCard-container {}

.AirbnbCard-ratings {
    background-color: lightblue;
}
.AirbnbCard-image {}

.AirbnbCard-mainheading {
    background-color: pink;
}

.AirbnbCard-location {
    background-color: yellow;
}

.AirbnbCard-pricing {
    background-color: lightgreen;
}

