.AirbnbCard-container {
    width: 250px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    box-shadow: 5px 3px 10px #6d6a6a;
}

.AirbnbCard-ratings {
    background-color: white;
}
.AirbnbCard-image {
    display: flex;
    justify-content: center;
    align-content: center;
}

.AirbnbCard-image img {
    border-radius: 3px;
}

.AirbnbCard-mainheading {
    background-color: white;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: rgb(72, 72, 72) !important;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 14px !important;
    line-height: 18px !important;
    letter-spacing: normal !important;
    font-weight: 800 !important;
}

.AirbnbCard-location {
    background-color: white;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: rgb(76, 86, 41);
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 12px !important;
    line-height: 16px !important;
    letter-spacing: normal !important;
    font-weight: 800 !important;
}

.AirbnbCard-pricing {
    background-color: white;
    padding-left: 5px;
    font-size: 14px !important;
    line-height: 18px !important;
    letter-spacing: normal !important;
    font-weight: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: rgb(72, 72, 72) !important;
}

.AirbnbCard-button {
    appearance: none;
    border: none;
    border-radius: 3px;
    width: 4.5rem;
    height: 1.25rem;
    background-color: white;
    margin: 0.5rem 1.5rem ;
    color: blue;
}
