.Header-container {
    width: 100vw;
    height: 10rem;
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header-container h1 {
    font-size: 5rem;
    font-family: "Helvetica", sans-serif;
}